.first-container {
    background-color: aliceblue;
}

.dummy-screen {
    height: 700px;
}
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the topnav links */
.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  /* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 15px;
  }
  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
    
  .button5 {background-color: #555555;} /* Black */

  p.ridge {border-style: ridge;}
